@page "/"

@using PoC.SkillingUp.BlazorApp.Data
@inject PublicIpService IpService

<PageTitle>Index</PageTitle>

<h1>Public Ip: @publicIp</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {

    private string? publicIp;
    protected override async Task OnInitializedAsync()
    {
        publicIp = await IpService.GetPublicIp();
    }
}
